<html lang='en'>
    <head>
        <title>Which disease infected your Crop?</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div class='sideimage'> 
            <a href = 'https://github.com/shubhajitml/crop-disease-detector' target="_blank"><img src='../static/GitHub-Mark-32px.png' target="_blank" /></a>
        </div>

        <div>
            <div class='center'>
                <div class='title'>IDENTIFY YOUR CROP's DISEASE!</div>
                <p>
                    Use infected leaves of <br> <strong>Blueberry, Cherry, Corn, Grape, Orange,
                         Peach, Pepper, Potato, Raspberry, Soyabean, Squash, Strawberry, Tomato</strong>
                </p>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Upload the Leaf Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
